.search {
  width: 100%;
  position: relative;
  display: flex;
}
#TextS {
  width: 50%;
  border-right: none;
  padding: 5px;
  height: 40px;
}
.searchButton {
  width: 80px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}
