<% include ../partials/header %>
<% include ../partials/menu %>


<form class="bg-dark text-white" >
  <div class="search">
    <input id="TextS" type="text" name="searchText"  placeholder="Enter a Movie Title">
    <button id="ButtonS" type="button" name="button" class="searchButton"  onclick="CallAPI()">Submit</button>
  </div>
  <div class="container">
    <div class ="row" id="movies">
    </div>
  </div>
</form>

<% include ../partials/footer %>
