<% include ../partials/header %>
<% include ../partials/menu %>


<form class="bg-dark text-white" >
  <div class="search">
    <input id="TextS" type="text" name="searchText"  placeholder="Enter a Movie Title">
    <button id="ButtonS" type="button" name="button" class="searchButton"  onclick="CallAPI()">Submit</button>
  </div>
  <div class="container">
    <div class ="row" id="movies">
    </div>
  </div>
  <div id = "Review_Modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>

<% include ../partials/footer %>
